<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title><%= @title || 'Index' %> - MSC Fiddle</title>
    <link rel="shortcut icon" href="#" />
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.css'>
  </head>
  <body>
    <h1>
      <%= @title || 'Index' %>
    </h1>
    <%= yield %>
  </body>
</html>
